<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let segment of rod.segments" cdkDrag>
    <div *ngIf="segment.type === 'rod';else force">
      <app-segment-list-element [modelInput]=segment ></app-segment-list-element>
    </div>
    <ng-template #force>
      <app-segment-list-force [modelInput]=segment></app-segment-list-force>
    </ng-template>
  </div>
</div>
<div >
  <button class="btn btn-success col-6" (click)="addSegment($event)">
    Стержень
  </button>
  <button class="btn btn-primary col-6" (click)="addForce($event)">
    Сила
  </button>
</div>