
<div class="card" style="width:100%;">
    <div class="card-header">
        Featured
        <button style="float: right;" type="button" class="btn btn-primary btn-xs" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"><fa-icon [icon]="faCoffee"></fa-icon>
        </button>
    </div>

    <div  id="collapseBasic" [collapse]="isCollapsed" class="card-body">
        <form [formGroup]="formGroup" >
            <div class="col-12">
                <label for="first-name" class="d-block mb-0">S: </label>
                <input id="first-name"  type="text" class="w-100" formControlName="S">
            </div>
            <div class="col-12">
                <label for="last-name" class="d-block mb-0">L: </label>
                <input id="last-name" type="text" class="w-100" formControlName="L">
            </div>
            
            <div class="col-12">
                <label for="last-name" class="d-block mb-0">Force: </label>
                <input id="last-name" type="text" class="w-100" formControlName="force">
            </div>
        </form>
    </div>
</div>
