<div class="d-flex rodview">
    <div class="d-flex justify-content-center align-items-center" *ngFor="let seg of rod.segments" >
        <div >   
            <div *ngIf="seg.type === 'rod';else force" >
                <app-rodviewbox  [segment]=seg [minRodA]="minRodA" [minRodS]="minRodS"></app-rodviewbox>
            </div>
            <ng-template #force>
                <app-rodviewforce [modelInput]=seg ></app-rodviewforce>
            </ng-template>
        </div>
    </div>
    <app-rodviewwall class="d-flex justify-content-center align-items-center"[status]=rod.tPointRight [side]=true></app-rodviewwall>
</div>
{{ngOnChange()}}
